$easing: cubic-bezier(0.93, 0.01, 0.15, 0.97);

.template-navigation,
.template-onboarding {
	overflow: hidden;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	color: #8b9095;
	font-size: 14px;
	background-color: $black-500;
}

.slick-slide {
	outline: none !important;
}

.onboarding {
	max-width: 100%;
	margin: 0 auto;
	font-family: $base-font;
	padding-bottom: 40px;
	display: flex;
	flex-direction: column;

	&__nav {
		.slick-dots {
			position: relative;
			bottom: 0;
			a {
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 20px;
				height: 20px;
			}

			span {
				position: absolute;
				display: block;
				width: 8px;
				height: 8px;
				border-radius: 50%;
				background: $blue-500;
			}

			circle {
				fill: none;
				stroke: $blue-500;
				stroke-width: 1;
				stroke-linecap: round;
				stroke-dasharray: 39 39;
				stroke-dashoffset: 39;
				transition: all .9s ease-in-out;
				transition: stroke-dashoffset 0.5s $easing;
			}

			.slick-active circle {
				stroke-dashoffset: 0;
			}
		}
	}
}

.new-slide {
	&__content {
		font-family: $base-font;
		&--center {
			text-align: center;
			figure {
				margin-left: auto;
				margin-right: auto;
				text-align: center;
				img {
					display: initial;
				}
			}
		}
	}
	&__img {
		&--sm {
			max-width: 180px;
			margin-top: $spacer / 2;
		}
		&--lg {
			max-width: 600px;
		}
	}
}

.ico {
	margin: 0 auto $spacer;
	height: 200px;
	width: 300px;
	text-align: center;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	svg {
		fill: $blue-500;
		height: 150px;
	}
}

.tit {
	@include fontSize($font-6);
	font-family: $base-font;
	color: #fff;
	margin-bottom: 10px;
	font-weight: 700;
	line-height: 1.1;
	text-align: center;
	padding: 0 10px;
	@include xs-down {
		@include fontSize($font-5);
	}
}

.text {
	font-size: 16px;
	line-height: 1.5;
	color: $black-300;
	text-align: center;
	padding: 0 10px;
}